@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    background-color: #FBF8F9;
    cursor: pointer;
}

/* STYLING THE NAVBAR SECTION */
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 14px;
}
.logo a{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
}
span{
    color: #58B881;
}
strong{
    color: black;
}

nav ul li{
    display: inline;
    list-style: none;
    padding: 8px;
    /* color: rgb(88, 73, 73); */
}
nav ul li a{
    font-size: 22px;
    text-decoration: none;
    color: rgba(88, 73, 73, 0.487);
    font-family: 'Bree Serif', serif;
}
.btn{
    background-color: #5184F9;
    height: 40px;
    width: 140px;
    border: navajowhite;
    border-radius: 50px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: medium;
}

/* STYLING HOME SECTION */
/* #home{
    margin-left: auto;
    margin-right: auto;
} */
.icons{
    font-size: 60px;
    margin-left: 2%;
}
.main{
    display: flex;
    margin-left: 2%;
}
.pop{
    font-size: 50px;
    color: #3A1402;
}
.pap{
    color: #757583;
    font-size: 25px;
}
.person{
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
}
.buttons{
    display: flex;
}
.us{
    height: 40px;
    width: 140px;
    padding-left: 5px;
    border: navajowhite;
    border-radius: 50px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: medium;
    background-color: #58B881;
    box-shadow: 5px 5px rgb(242,223,229);
    padding: 5px;
}
.but{
    background-color: #fff;
    height: 30px;
    width: 150px;
    margin-left: 5%;
    border: navajowhite;
    border-radius: 50px;
    color:#757583;
    font-family: 'Bree Serif', serif;
    font-size: small;
    box-shadow: 5px 5px rgb(242,223,229);
    text-align: center;
    padding: 10px;
}
.numbers{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9%;
}
.coln{
    background-color: white;
    padding: 30px;
    width: 60%;
    border:0.5px solid #757583ae;
    color: #3A1402;
    height: 100px;
}
.coln h2{
    font-size: xx-large;
    font-family: 'Bree Serif', serif;
}
.coln p{
    font-size: 20px;
}
.companies{
    display: flex;
}
.col{
    background-color: #fff;
    /* border:1px solid #757583ae; */
    padding: 20px;
    width:  25%;
    margin-left: auto;
    margin-right: auto;
}

/* SERVICE SECTION */
#service{
    background-color: #FFFFFF;
    height: 800px;
}
.log{
    text-align: center;
}
.log h3{
    color: #58B881;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}
.log h2{
    color: #3A1402;
    font-size: 50px;
}
.row{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.con{
    margin-top: 1pc;
    margin-left: 5%;
}
.colum{
    background-color: #F5F9FA;
    font-size: 30px;
    /* text-align: center; */
    justify-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.column{
    background-color: #49A091;
    font-size: 30px;
    /* text-align: center; */
    justify-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.pip{
    color: white;
}

.card{
    height: 400px;
    width: 400px;
    /* justify-content: center; */
}

/* HOW WE WORK SECTION */
#work{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #FFFFFF;
}
.mine{
    background-color: #EAF6FF;
    margin-left: 5%;
    height: 500px;
    width: 500px;
}
.mine img{
    margin-top: -15%;
    margin-left: -15%;
}
.rid{
    margin-left: 5%;
}
.rid h3{
    color: #58B881;
}
.rid h1{
    color: #3A1402;
    font-size: 50px;
}
.one{
    padding: 15px;
}
.cooon{
    background-color: #EAF6FF;
    height: 5%;
    width: 80%;
    border-radius: 50px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.616);
}
.one h4{
    margin-top: -8%;
    text-align-last: start;
    margin-left: 15%;
    font-size: 25px;
    color:#3A1402;
}
h4{
    margin-top: 5%;
}

/* SIGN UP SECTION */
.sign{
    background-color: white;
    height: 300px;
}
.up{
    text-align: center;
    background-color: white;
}
.hap{
    color: #3A1402;
    font-size: 50px;
}
.lap{
    font-size: 20px;
}
.pat{
   text-align: center;
}
.input{
    height: 80px;
    width: 500px;
    background-color:#49A091;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
.bttn{
    background-color: #5184F9;
    height: 50px;
    width: 80px;
    border: none;
    margin-left: -8%;
    border-radius: 5px;
}

 /* LAST SECTION */
 .last{
     display: flex;
     margin-top: 5%;
     background-color: #fff;
 }
 .nine{
     margin-left: auto;
     /* background-color: #EAF6FF; */
 }
 .nine img{
    margin-top: -15%;
    margin-left: -10%;
}
.wrk{
    margin-left: auto;
}
.wrk h3{
    color: #58B881;
}
.wrk h1{
    color: #3A1402;
    font-size: 50px;
}
.name{
    display: flex;
}
.text{
    display: flex;
    padding: 5%;
}
label{
    font-size: 20px;
    padding: 5px;
    margin-top: -5%;
    
}
.inpt{
    height: 80px;
    width: 500px;
    background-color:#FEF8F8;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
} 
textarea{
    background-color:#FEF8F8;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    height: 80px;
    width: 500px;
    text-align: start;
    margin-left: -5%;
}
.send{
    border: none;
    height: 60px;
    width: 160px;
    border: none;
  background-color: #49A091;
    border-radius: 25px;
    color: white;
    font-size: 20px;
}